  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="material-symbols-outlined">
      pedal_bike
      </span>
    <span>Bikent</span>
    <span class="example-spacer"></span>
    <userinfo></userinfo>
    <span class="material-symbols-outlined">
      person
      </span>
    <login></login>
  </mat-toolbar>
