<!--<h1>{{hero.name}} Details</h1>
<div><span>id:</span>{{hero.id}}</div>
<div><span>Name:</span>{{hero.name| uppercase}}</div>
<input id="name" [(ngModel)]="hero.name" placeholder="name">
-->
<h2>Heroes</h2>
<ul>
  <li *ngFor="let hero of heroes">
    <button [class.selected]="hero === selectedHero"type="button" (click)="onSelect(hero)">
      <button type="button">
        <span class="badge"> {{ hero.id }} </span>
        <span class="name"> {{ hero.name }}</span>
      </button>
    </button>
  </li>
</ul>
<!--<app-hero-detail [hero]="selectedHero"></app-hero-detail>-->